.jumbotron {
    border-bottom: 1px solid #000;
}

.text-center {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    font-weight: 700;
}

.employee-card {
    margin-top: 20px;
    margin-right: 20px;
    min-width: 300px;
}

.card-header,
.card-body {

    color: #fff;
    border: 1px solid black;
}

h2.card-title {
    font-family: 'Playfair Display', serif;
}

h3.card-title {
    font-family: 'Roboto', sans-serif;
}